/* variables */

/* base */

$logo-font: "Nunito", sans-serif;
$body-font: "Lato", sans-serif;
$title-font: "Vollkorn", serif;
$primary-text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: rgba(0, 0, 0, 0.54);
$tertiary-text-color: rgba(0, 0, 0, 0.12);
$primary-color: #362F31;
$secondary-color: blue;
$red: #C64039;
$green: #2CBF2A;
$dark-gray: #F1F1F1;
$domain-suffix: ".relay-chat.com";
@mixin mobile {
    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 50%;
}

body {
    flex-direction: column;
    color: $primary-text-color;
    font-size: 2rem;
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
    color: #515151;
    font-family: "Vollkorn", serif;
    line-height: 1.4em;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
    line-height: 1.5em;
}

input {
    font-size: 2rem;
    &:invalid {
        box-shadow: none;
    }
}

a {
    color: #c64039;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    &.vertical {
        flex-direction: column;
    }
    &.horizontal {
        flex-direction: row;
    }
}

img {
    @include mobile {
        max-width: 90%;
    }
}

#logo {
    color: $red;
    font-size: 3rem;
    font-family: "Nunito", sans-serif;
    @include mobile {
        font-size: 4rem;
    }
}

.main-container {
    display: flex;
    min-height: 90vh;
    >div {
        flex: 1
    }
    @include mobile {
        flex-direction: column;
    }
}

.helper-text, .error-text {
    margin-top: 0.5rem;
    color: $secondary-text-color;
    font-size: 1.75rem;
}

.button {
    min-width: 13rem;
    min-height: 5rem;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    &.primary {
        background-color: $primary-color;
        color: #FFF;
        font-size: 2rem;
        padding: 0 3rem;
    }
    &.secondary {}
    &.bordered {}
    &.empty {
        background: none;
    }
    a {
        line-height: -0.05em;
    } // fixing baseline
}

.header, .footer {
    padding: 2rem 11rem;
    background: $dark-gray;
    .only-logo, .logo-and-header-links, .footer-links {
        display: flex;
        justify-content: space-between;
        max-width: 87%;
        margin: 0 auto;
    }
    .only-logo {
        justify-content: center;
    } // when there is only logo in the header
    .header-link, .footer-link {
        a {
            color: $primary-text-color;
        }
        &.button.empty {
            min-width: initial;
            padding: 0 3rem;
        }
        a.button {
            color: #FFF;
        }
        &.button.primary {
            a {
                color: white;
            }
        }
    }
    @include mobile {
        padding: 0;
        #logo {
            text-align: center;
        }
        ul.header-links, .footer-links ul {
            flex-wrap: wrap;
            justify-content: center;
        }
        .logo-and-header-links {
            flex-direction: column;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid $tertiary-text-color;
    background-color: initial;
}

.pane {
    padding-top: 10rem;
    text-align: center;
    .heading {
        font-size: 7rem;
        font-weight: normal;
        color: $primary-color;
    }
}

p.byline {
    width: 60%;
    text-align: center;
    margin-left: 20%;
    font-size: 3rem;
    font-weight: 300;
    font-family: $body-font;
    color: $secondary-text-color;
}

.pane-first {
    background: $dark-gray;
    max-height: 760px;
    position: relative;
    @include mobile {
        max-height: initial;
    }
}

.newsletter input#mc-embedded-subscribe {
    right: 16rem;
}

.form-get-started, .form-newsletter {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    input[type="email"] {
        height: 7rem;
        width: 32%;
        margin-left: 13rem;
        padding: 0 2rem;
        border: 2px solid $tertiary-text-color;
        border-radius: 4px;
        &::placeholder {
            color: lighten($secondary-text-color, 60%);
        }
    }
    button.primary, input[type="submit"] {
        position: relative;
        right: 17rem;
        top: 1rem;
        max-height: 5rem;
        font-family: $body-font;
    }
    @include mobile {
        flex-direction: column;
        margin: 5rem;
        input[type="email"] {
            width: initial;
            margin: initial;
        }
        input[type="submit"] {
            position: initial;
            margin: 1rem 0;
        }
    }
}

.page-heading {
    font-size: 4.5rem;
    font-weight: normal;
    margin: 2rem 0;
    color: $primary-color;
    text-transform: capitalize;
    @include mobile {
        text-align: center;
    }
}

.section-heading {
    font-size: 2rem;
    font-family: $body-font;
    font-weight: bold;
    text-transform: uppercase;
    color: $secondary-text-color;
    padding-bottom: 1rem;
}

.section-hr {
    width: 5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background: $tertiary-text-color;
    border: none;
    outline: none;
    &.center {
        margin: 0 auto;
    }
}

.feature-list, .pricing, .platforms, .signup, .login, .open-relay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platforms {
    padding: 3rem 0;
    border-bottom: 1px solid $dark-gray;
    p {
        font-size: 1.25rem;
        text-transform: uppercase;
        color: $secondary-text-color;
        margin-bottom: 1rem;
    }
    .icon {
        margin: 0 0.5rem;
        opacity: .54;
        &:hover {
            opacity: 1;
        }
    }
    @include mobile {
        text-align: center;
        padding: 0 15%;
    }
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    width: 56%;
    padding: 6rem 0;
    img {
        margin-right: 0;
        margin-left: 4rem;
    }
    &:nth-child(even) {
        flex-direction: row-reverse;
        img {
            margin-right: 4rem;
            margin-left: 0;
        }
    }
    .heading-and-description {
        width: 40%;
        .heading {
            color: $primary-color;
            font-size: 4.5rem;
            font-weight: 400;
        }
        .description {
            font-size: 2.5rem;
            line-height: 4rem;
            margin-top: 2rem;
            color: $primary-text-color;
        }
    }
    @include mobile {
        flex-direction: column;
        width: initial;
        .heading-and-description {
            width: 90%;
        }
        img {
            margin: 0;
        }
        &:nth-child(even) {
            flex-direction: column;
            img {
                margin: 0;
            }
        }
    }
}

.pricing {
    background: $dark-gray;
    padding: 12rem 0;
}

.open-relay {
    background: $dark-gray;
    padding: 12rem 0;
    p {
        margin-top: 2%;
    }
}

table.pricing-table {
    border: 1px solid $tertiary-text-color;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    width: 72%;
    background: white;
    >* {
        border-collapse: collapse;
        text-align: left;
    }
    tr {
        width: 100%;
        &:last-child {
            td {
                border-bottom: none;
            }
        } //remove border bottom from last row
        td {
            padding: 2rem;
            width: 35%;
            border-bottom: 1px solid $tertiary-text-color;
            &:first-child {
                width: 30%;
            }
            &:nth-child(n+2) {
                text-align: center;
            } //center align text on second and third column
        }
        .icon {
            width: 2rem;
        }
        span.coming-soon {
            font-size: 1.25rem;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            color: $primary-text-color;
            background-color: lighten($red, 12%);
            border-radius: 0.5rem;
        }
    }
    @include mobile {
        width: 90%;
    }
}

.relay-and-slack {
    display: flex;
    justify-content: flex-end;
    width: 72%;
    margin-top: 12rem;
    .relay, .slack {
        width: 35%;
        background: white;
        border: 1px solid $tertiary-text-color;
        border-bottom: none;
        padding-bottom: 2rem;
        h4.heading {
            font-size: 2rem;
            font-family: $body-font;
            background: lighten($tertiary-text-color, 40%);
            padding: 1rem;
        }
        p.price {
            font-size: 7rem;
            color: $primary-color;
        }
        p.info, p.data-limit {
            font-size: 1.5rem;
            color: $secondary-text-color;
        }
    }
    .relay {
        border-right: none;
    }
    @include mobile {
        width: 90%;
    }
}

/*
-------------------
SIGNUP
-------------------
*/

.signup-container, .login-container, .app-container {
    display: flex;
    flex-direction: column;
}

.signup, .login {
    flex: 1;
    padding: 2rem 0 6rem;
    background-color: #f1f1f1;
    background-size: cover;
}

ul.steps {
    display: flex;
    width: 40%;
    margin: 5rem auto;
    justify-content: space-between;
    >* {
        display: flex;
    }
    li.step {
        flex-direction: column;
        align-items: center;
        p.number {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            background-color: #ccc;
            color: $secondary-text-color;
            &.active {
                background-color: $red;
                color: white;
            }
            &.done {
                background-color: $green;
                color: white;
                content: "";
                img {
                    filter: invert(100%);
                }
            }
        }
        p.step-name {
            text-align: center;
        }
    }
    @include mobile {
        width: initial;
        p.step-name {
            padding: 0 1rem;
        }
    }
}

.form-signup, .form-login, .section-content {
    width: 50%;
    background-color: white;
    box-shadow: 0 0 1rem $tertiary-text-color;
    .input-container {
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }
    input {
        width: 100%;
        height: 7rem;
        padding: 2rem;
        border: 1px solid $dark-gray;
        outline: none;
        &:disabled {
            background-color: $dark-gray
        }
    }
    .form-input.error {
        outline: 1px solid $red;
    }
    .input-subdomain {
        .input-container:after {
            content: $domain-suffix;
            margin-left: 1rem;
        }
        .form-input {
            max-width: 304px;
            margin-right: 0rem;
            text-align: right;
        }
    }
    .input-error {
        color: $red;
        text-align: left;
        padding: 1rem 2rem;
        span.mono {
            font-family: monospace;
            background-color: #e9e9e9;
            padding: 0 2px;
            margin: 0 2px;
        }
    }
    .form-header, .form-body, .form-footer, .section-body, .section-footer {
        padding: 0 10rem
    }
    .form-header, .form-body, .section-body {
        text-align: center;
    }
    .form-body, .section-body {
        margin-top: 3rem;
        &.status {
            margin-bottom: 3rem;
        }
        .status-message {
            margin: 2rem;
        }
        .tos {
            text-align: left;
        }
    }
    .form-header {
        padding-top: 5rem;
    }
    .form-footer, .section-footer {
        margin-top: 4rem;
        padding: 3rem 10rem;
        border-top: 1px solid darken($tertiary-text-color, 20%);
        background-color: $tertiary-text-color;
        display: flex;
        justify-content: flex-end;
        a {
            margin: 0 2rem;
        }
        a:last-child {
            margin-right: 0
        }
        &.left-right {
            justify-content: space-between;
            .left, .right {
                display: flex;
                flex-direction: row;
            }
            .left .button {
                margin-left: 0;
            }
        }
    }
    @include mobile {
        width: 90%;
        .form-header, .form-body, .form-footer, .section-body, .section-footer {
            padding: 2rem;
        }
        .form-footer, .section-footer {
            &.left-right {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    }
}

.section-content {
    margin: 3rem 0;
    width: 60%;
    .section-body {
        text-align: justify;
        p {
            margin: 0 0 3rem;
        }
    }
    @include mobile {
        width: 90%;
        .section-body {
            text-align: left;
        }
    }
}

.eula, .privacy {
    section {
        margin: 2rem 0;
        border-bottom: 1px solid $dark-gray;
    }
    h3 {
        font-size: 3rem;
        margin: 2rem 0;
    }
}

.community-pricing {
    border: 1px solid $tertiary-text-color;
    border-radius: 4px;
    background: white;
    margin-top: 3rem;
    padding: 4rem 4rem;
    display: flex;
    justify-content: space-between;
    width: 72%;
    p {
        text-align: left;
        width: 70%;
    }
    a.button {
        align-self: flex-start;
    }
}

.open-relay-copy {
    display: flex;
    justify-content: space-between;
    width: 72%;
    p {
        text-align: justify;
        width: 70%;
        padding: 4rem 4rem;
        margin-left: 15%;
    }
    a.button {
        align-self: flex-start;
    }
    @include mobile {
        flex-direction: column;
        width: inherit;
        p {
            width: inherit;
        }
    }
}
